app.component <br>
<!-- <div id="Header">
  <app-one-rjt></app-one-rjt>
</div>

<div id="Left">
  <app-two-rjt></app-two-rjt>
</div>

<div id="Right">
  <app-three-rjt></app-three-rjt>
</div>

<div id="Footer">
  <app-four-rjt></app-four-rjt>
</div> -->

  <div class="split top">
    <app-one-rjt></app-one-rjt>
  </div>

  <div class="split left">
    <app-two-rjt></app-two-rjt>
  </div>
  
  <div class="split right">
      <app-three-rjt></app-three-rjt>
  </div>
  
  <div class="split bottom">
      <app-four-rjt></app-four-rjt>
  </div>    